    /*  typography */
    @font-face {
    font-family: 'Concert One', cursive;
    font-style: normal;
    font-display: swap;
    }

    body {
    line-height: 1.2;
    font-family: 'Concert One', cursive;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    color: #4c4c4c;
    }

    h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: 'Concert One', cursive;
    line-height: 1.2;
    }

    .p{
      font-family: 'Pathway Gothic One', sans-serif;
    }

    h1, .h1 {
    font-size: 80px;
    }

    @media (max-width: 991px) {
    h1, .h1 {
    font-size: 65px;
    }
    }

    h2, .h2 {
    font-size: 60px;
    }

    @media (max-width: 991px) {
    h2, .h2 {
    font-size: 50px;
    }
    }

    h3, .h3 {
    font-size: 30px;
    }

    h4, .h4 {
    font-size: 22px;
    }

    h5, .h5 {
    font-size: 18px;
    }

    h6, .h6 {
    font-size: 14px;
    }


    body {
    background-color: #fff;
    overflow-x: hidden;
    }

    ::-moz-selection {
    background: #ba2f2f;
    color: #fff;
    }

    ::selection {
    background: #ba2f2f;
    color: #fff;
    }

    ol,
    ul {
    list-style-type: none;
    margin: 0px;
    }

    img {
    vertical-align: middle;
    border: 0;
    }

    a,
    a:hover,
    a:focus {
    text-decoration: none;
    }

    a,
    button,
    select {
    cursor: pointer;
    transition: .2s ease;
    }

    a:focus,
    button:focus,
    select:focus {
    outline: 0;
    }

    a.text-dark:hover {
    color: #912323 !important;
    }

    a:hover {
    color: #912323;
    }

    .section {
    padding-top: 80px;
    padding-bottom: 80px;
    }

    .section-title {
    margin-bottom: 80px;
    font-family: 'Concert One', cursive;
    }

    .bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    }

    /* overlay */
    .overlay {
    position: relative;
    }

    .overlay::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    }

    .outline-0 {
    outline: 0 !important;
    }

    .d-unset {
    display: unset !important;
    }

    .bg-primary {
      background-image: url("img/parallax/copid.png");
      background-color: #e64640;
      background-attachment: fixed !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      height: 650px;
    }

    .text-primary {
    color: #912623 !important;
    }

    .text-color {
    color: #4c4c4c;
    }

    .text-dark {
    color: #000 !important;
    }

    .text-light {
    color: #999999 !important;
    }

    .mb-10 {
    margin-bottom: 10px !important;
    }

    .mb-20 {
    margin-bottom: 20px !important;
    }

    .mb-30 {
    margin-bottom: 30px !important;
    }

    .mb-40 {
    margin-bottom: 40px !important;
    }

    .mb-50 {
    margin-bottom: 50px !important;
    }

    .mb-60 {
    margin-bottom: 60px !important;
    }

    .mb-70 {
    margin-bottom: 70px !important;
    }

    .mb-80 {
    margin-bottom: 80px !important;
    }

    .mb-90 {
    margin-bottom: 90px !important;
    }

    .mb-100 {
    margin-bottom: 100px !important;
    }

    .zindex-1 {
    z-index: 1;
    }

    .rounded-lg {
    border-radius: 15px;
    }

    .overflow-hidden {
    overflow: hidden;
    }

    .font-secondary {
    font-family: "Playfair Display", serif !important;
    }

    .font-tertiary {
    font-family: "BwNistaInt-xBd" !important;
    }

    .shadow {
    box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
    }

    .bg-dark {
    background-color: #222222 !important;
    }

    /* icon */
    .icon {
    font-size: 50px;
    }

    .icon-bg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    }

    .icon-light {
    color: #f2cbcb;
    }


    /* form */
    .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #c7c7c7;
    height: 60px;
    }

    .form-control:focus {
    border-color: #912323;
    outline: 0;
    box-shadow: none !important;
    }

    textarea.form-control {
    height: 120px;
    }

    /* /form */
    /* card */
    .card {
    border: 0;
    }

    .card-header {
    border: 0;
    }

    .card-footer {
    border: 0;
    }

    /* /card */

    @media (max-width: 991px) {
    .navigation.nav-bg {
    padding: 15px 20px;
    }
    }

    @media (max-width: 991px) {
    .navigation {
    padding: 20px;
    background: #912323;
    }
    }

    .hero-area {
    padding: 300px 0 200px;
    position: relative;
    }

    @media (max-width: 767px) {
    .hero-area {
    padding: 250px 0 150px;
    overflow: hidden;
    }
    }

    .hero-area h1 {
    position: relative;
    z-index: 2;
    margin-top: auto;
    }

    .layer {
    position: absolute;
    z-index: 1;
    }

    #l4 {
    top: 200px;
    right:40%;
    }

    /* =================================== */
    /*	Basic Style
    /* =================================== */

    ol, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    figure, p {
        margin: 0;
    }

    a {
        color: #fff;

        -webkit-transition: all .3s ease-in 0s;
           -moz-transition: all .3s ease-in 0s;
            -ms-transition: all .3s ease-in 0s;
             -o-transition: all .3s ease-in 0s;
                transition: all .3s ease-in 0s;
    }

    iframe {
        border: 0;
    }

    a, a:focus, a:hover {
        text-decoration: none;
        outline: 0;
    }

    a:focus, a:hover {
        color: #ba7070;
    }

    h1, h2, h3,
    h4, h5, h6 {
    	font-weight: normal;
    	margin: 0;
    }

    .clear:before,
    .clear:after {
        content: " ";
        display: table;
    }

    .clear:after {
       clear: both;
    }

    .clear {
       *zoom: 1;
    }

    span.color {
    	color: #f01111;
    }

    body > section,
    .footer {
    	padding: 70px 0;
    }

    .sec-title {}

    .sec-title h2 {
      color: #ff5252;
      font-size: 28px;
      font-weight: 800;
      text-transform: uppercase;
      font-family: 'Concert One', cursive;
      margin-top: 10px;
    }

    .sec-sub-title {
    	margin: 35px 0 45px;
    }

    .sec-sub-title p {
    	font-weight: 500;
    	line-height: 20px;
    	font-size: 10px;
    	color: #5b646e;
      font-size: 18px;
    }

    .devider {
      margin-top: 30px;
    }

    .devider i {
      color: #cccccc;
    }

    .devider:before,
    .devider:after {
      color: #e6e8ea;
      position: relative;
      bottom: 6px;
    }

    .devider:before {
      right: 10px;
    }

    .devider:after {
      left: 10px;
    }

    .mb50 {
    	margin-bottom: 50px;
    }

    /*=========================================
    	Header
    ==========================================*/

    #navigation {
      background-color: rgba(54, 18, 18, 0.5);
      border: 0 none;
      margin: 0;

        -webkit-transition: background-color 800ms linear;
           -moz-transition: background-color 800ms linear;
    	    -ms-transition: background-color 800ms linear;
             -o-transition: background-color 800ms linear;
    			transition: background-color 800ms linear;
    }

    .navbar-toggle i {
    	color: #fff;
    }

    .navbar-brand {
      padding: 0;
    }

    .navbar-nav li a {
    	border-top: 1px solid transparent;
    }

    .navbar-nav li a.current,
    .navbar-nav li a:focus,
    .navbar-nav li a:hover {
    	background-color: transparent;
    	border-top: 1px solid #f03535;
    	color: #fff;
    }


    /*=========================================
    	Slider
    ==========================================*/

    #slider {
    	padding: 0;
    }

    #slider .carousel-inner .item {
      background-size: cover;
    }

    .carousel-caption {
      top: 50%;
    }

    .carousel-caption h2 {
      font-size: 62px;
      font-weight: 300;
    }

    .carousel-caption h2 span {
      font-weight: 800;
    }

    .carousel-caption h3 {
      font-size: 48px;
      font-weight: 300;
      margin: 6px 0 20px;
    }

    .carousel-caption p {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
    }

    .carousel-caption p:before,
    .carousel-caption p:after {
    color: #f01111;
    content: "___";
    position: relative;
    top: -8px;
    }

    .carousel-caption p:before {
      right: 20px;
    }

    .carousel-caption p:after {
      left: 20px;
    }

    .social-links {
      margin-top: 5%;
    }

    .social-links li {
    	display: inline-block;
    }

    .social-links li a {
      color: rgba(125, 24, 24, 0.5);
      display: block;
      margin: 0 6px;
    }

    .social-links li a:hover {
      color: #fff;
    }

    .carousel-indicators {
      bottom: 10px;
      left: inherit;
      margin: 0;
      right: 30px;
      top: 49%;
      width: 0;
    }

    .carousel-indicators li {
      border: 1px solid rgba(125, 24, 24, 0.5);
      height: 8px;
      width: 8px;
    }

    .carousel-indicators .active {
      height: 8px;
      width: 8px;
    }


    /*=========================================
    	Features
    ==========================================*/

    .features {
      background-color: #fcf7f7;
    }

    .owl-controls {
      bottom: -45px;
      margin-top: 10px;
      position: relative;
      text-align: center;
    }

    .owl-controls .owl-page {
      display: inline-block;
    }

    .owl-controls .owl-page span {
      border: 1px solid #d6cbcb;
      border-radius: 20px;
      display: block;
      height: 8px;
      margin: 5px 4px;
      width: 8px;
    }

    .owl-controls .owl-page.active span {
      background: #360707;
      border: 0;
    }

    .service-icon {
      border: 1px solid #ff5252;
      border-radius: 30%;
      color: red;
      float: right;
      padding: 10px 13px;
    }

    .service-icon img{
      height: 50px;
      width: 30px;
    }

    .service-desc {
      margin-left: 30px;
      position: relative;
      top: 5px;
    }

    .service-desc p{
      font-size: 18px;
      font-family: 'Pathway Gothic One', sans-serif;
    }


    .service-desc h3 {
      color: #360707;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 25px;
    }


    /*=========================================
    	Some fun facts
    ==========================================*/

    #facts {
    	background-image: url("img/parallax/corona.jpg");
    	background-color: #bdb2b0;
    	background-attachment: fixed !important;
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	padding: 0;
    }

    .facts .devider:before,
    .facts .devider:after {
    	color: #7a7170;
    }

    .facts .devider i {
    	color: #fff;
    }

    .parallax-overlay {
    	background-color: rgba(6,32,51,.8);
    	padding: 50px 0;
    }

    .counters-item p {
      font-size: 18px;
      line-height: 24px;
      margin-top: 15px;
      text-transform: uppercase;
      color: #ff7a6b;
      position: relative;
        align: center;
    }

    .button{
      border:none;
      padding:15px 20px;
      border-radius:15px;
      background-color: #ffaea8;
      margin-bottom: 15px;
    }


    /*=========================================
    	Contact Us
    ==========================================*/

    .footer {
      background: #ffaea8;
      border-top: 5px solid #360707;
      background-size: cover;
      color: #fff;
    }

    .footer a:hover {
      color: #df7861;
    }

    .footer h6 {
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 30px;
      color: #ff5252;
    }

    .about-us p {
      line-height: 24px;
    }

    .footer-single .subscribe {
      margin-bottom: 15px;
      position: relative;
    }

    .subscribe #subscribe {
      background-color: transparent;
      border: 2px solid #df7861;
      border-radius: 2px;
      height: 40px;
      text-indent: 10px;
      width: 100%;
    }

    .subscribe #subs {
      background-color: transparent;
      border: 0 none;
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 6px;
    }

    .footer-single {
      line-height: 24px;
        color: #df7861;
    }

    .footer-single ul {
      color: #df7861;
      }

    .footer-single li {
      line-height: 32px;
      color: #df7861;
    }

    .footer-single p i {
      margin: 0 10px;
    }

    .credit a {
      color: #062033;
    }

    .credit a:hover {
      color: #df7861;
    }

    .profile img{
      z-index: 1;
      width: 120px;
      height: 180px;
      position: relative;
      margin-top: -75px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 90px;
      border: 2px solid #fff;
      transition-duration: 0.4s;
      transition-property: transform;
    }
